
<h1> (<%= @post.num_votes %>)<%= @post.title %> by <%= @post.author.username %></h1> 

<p>Content:
  <%= @post.content %>
</p>
<br>
<form class="" action="<%= post_votes_url(@post) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="vote[voteable_id]" value="<%= @post.id %>">
  <input type="hidden" name="vote[voteable_type]" value="Post">
  <input type="hidden" name="vote[upvote]" value="<%= true %>">
  <input type="submit" name="" value="Upvote">
</form>

<form class="" action="<%= post_votes_url(@post) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="vote[voteable_id]" value="<%= @post.id %>">
  <input type="hidden" name="vote[voteable_type]" value="Post">
  <input type="hidden" name="vote[upvote]" value="<%= false %>">
  <input type="submit" name="" value="Downvote">
</form>

<a href="<%= edit_post_url(@post) %>">EDIT MEEEEE</a>
<br>
<a href="<%= new_post_comment_url(@post) %>">Add Comment</a>

<h3>Subs</h3>
<ul>
  <% @post.subs.each do |sub| %>
    <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ul>

<h3>Comments</h3>
<% @all_comments = @post.comments_by_parent_id %>
<ul>

    <% @all_comments[nil].each do |comment| %>
      
      <li>
        <%= render 'comments/comment', comment: comment, all_comments: @all_comments%>
      </li>
    
    <% end %>

</ul>
