<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if logged_in? %>
      <h1>Welcome, <%= current_user.username %>!!!</h1>
      
      <form action="<%= session_url%>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="Log Out">
      </form>
      
      <a href="<%= new_sub_url %>">Create New Sub!!!</a>
      <a href="<%= subs_url %>">All Subs</a>
    <% end %>
    
    <% if flash[:errors] %>
      <%= flash[:errors].each {|e| e} %>
    <% end %>
    
    
    <%= yield %>
  </body>
</html>
